#mainWrapper {
}

#navBar {
    width: 100%;
    position: fixed;
    background-color: #333;
    overflow: hidden;
    top: 0;
    clear: both;
    height: 65px;
}
/*spacer div will force navbar not to eat up elements underneath it, because its fixed position*/
.spacer {
    width: 100%;
    height: 65px;
}

.navBarContents {
    color: ghostwhite;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 25px 30px 0px 30px;
}

#cookBookTitle {
    font-size: 40px;
    padding: 15px 10px 0px 10px;
    margin-left: 5%;
}

#searchWrapper {
    float: right;
    padding-top: 15px;
    margin-right: 35px;
}

#searchInputText {
    height: 30px;
    width: 250px;
}

#searchSubmitButton {
    background-image: url("../../images/common/search.png");
    height: 36px;
    width: 35px;
    padding: 11.5px;
}

#sideBar {
    float: left;
    width: 22%;
    background-color: #ffffe6;
    text-align: center;
    /*using below makes padding part of the div #sideBar size so float doesn't drop for #mainContent*/
    box-sizing: border-box;
    padding: 25px;
}

#mainContent {
    float: left;
    width: 78%;
}

.categories {
    height: 900px;
    padding: 20px;
}

.categoryContent {
    list-style: none;
    display: block;
    border: 2px solid lightcoral;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

#categoryTitle {
   font-size: 42px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#choices {
    text-align: center;
    font-size: 40px;
}

#mainContent {
    padding: 3% 2% 3% 5%;
    box-sizing: border-box;
}
