#Contact {
    background-color: #b3f8ff;
    text-align : center;
}
.contacts {
    display: block;
    border: 3px solid lightcoral;
    font-size: 25px;
    font-stretch: extra-expanded;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
    text-align : left;
}

.contact {
    display: block;
    border: 1px solid lightcoral;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 25px;
    padding: 5px;
    box-sizing: border-box;
    text-align : left;
}

#contactTitle{
    font-size: 42px;
}