#simCookSearch {
    background-image: url("../../images/cook/simcook-bg.jpeg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchAndSelectSimCookSearch {
    display: block;
    margin: 0 auto;
    width: 60%;
}

#searchAndSelectSimCookSearch button {
    display: block;
    margin: 0 auto;
}

.center {
    display: block;
    margin: 0 auto;
}

.centerText {
    text-align: center;
}

#searchDiv {
    margin: auto;
}

#searchDiv ul {
    text-align: center;
}

#searchSpacer {
    height: 20%;
}

#searchForm input {
    font-size: 17px;
    padding: 7px;
    width: 300px;
}

#searchForm button {
    padding: 5px 10px;
    font-size: 15px;
}

#searchForm div {
    text-align: center;
    font-weight: bold;
}

.recipeTitle {
    font-size: 28px;
}

.searchResultItem {
    font-size: 20px;
    padding: 0% 20%;
    cursor: pointer;
}

#searchRecipeContent {
    text-align: center;
}
